.wrapper {
  background-color: #02203c;
  margin: 0px auto;
  padding-top: 100px;
  color: white;
  width: 100%;
}

.getInTouch {
  text-align: center;
  background-color: #011931;
  padding: 100px 100px;
  margin: 100px auto;
  border-radius: 8px;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
