html {
  height: 100%;
}

body,
#id {
  background-color: #f6f9fc;
}

body {
  padding-top: 72px;
  height: 100%;
}

/********** Navbar *********/

.navbar-wrapper {
  background-color: #011931;
  width: 100%;
}

.navbar-custom {
  background-color: #011931;
  max-width: 960px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ecf0f1;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #21e6c1;
  transition: color 0.5s ease-out;

}

/********** Side Drawer *********/
.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(170%);
  transition: transform 0.3s ease-out;
}

.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active,
.footer__icon:hover {
  text-decoration: none;
  color: #21e6c1;
  transition: color 0.5s linear;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0px;
  left: 0px;
}

@media (min-width: 992px) {

  .side-drawer,
  .backdrop {
    display: none;
  }
}

/********** Containers *********/
.container-sm,
.container-m,
.container-lg,
.container-xl {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
}

/********** Carousel *********/
.slider {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  height: 100px;
  display: flex;
  align-items: center;
  animation: slideshow 10s linear infinite;
}

.slide img {
  height: 70px;
  padding: 0 30px 0 30px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slider::before,
.slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/********** Footer *********/

footer {
  display: inline-block;
  width: 100%;
  background-color: #011931;
  margin-bottom: 0px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: small;
  color: white;
}

footer>* {
  margin: 0px 20px;
}